/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
    overflow: hidden;
    background-color: #292831;
}

#container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    gap: 10px;
}

#input,
#output {
    resize: none;
    height: 20vh;
    font-family: "JetBrains Mono", monospace;
    border: 2px solid #4a7a96;
    border-radius: 5px;
    background-color: #333f58;
    color: white;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#input:focus,
#output:focus {
    outline: none;
    -webkit-box-shadow: 0px 0px 0px 5px rgba(98, 156, 190, 0.312);
    box-shadow: 0px 0px 0px 5px rgba(98, 156, 190, 0.312);
}


#output {
    width: 40vw;
}

.text {
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
    color: #4a7a96;
}

#convert {
    background-color: #333f58;
}